<!DOCTYPE html>
<html>  
    <head>
        <title>CSRF</title>
        <%- include('partials/header') %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            th {
                background-color: darkslategrey;
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <%- include('partials/csrfdesc')%>
            <div class="text-center">
                <h6 class="lead">Stanja računa</h6>
                <table>
                    <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Stanje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < results.length ; ++i){ %>
                            <tr>
                                <td><%= results[i].name %></td>
                                <td><%= results[i].account_balance %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <h6 class="lead">Stanja računa - Sustav s otklonjenom ranjivosti</h6>
                <table>
                    <thead>
                        <tr>
                            <th>Ime</th>
                            <th>Stanje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < results.length ; ++i){ %>
                            <tr>
                                <td><%= resultss[i].name %></td>
                                <td><%= resultss[i].account_balance %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
