<!DOCTYPE html>
<html>  
    <head>
        <title>CSRF Safe Account</title>
        <%- include('partials/header') %>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       
    </head>
    <body>
        <div class="container">
                <%- include('partials/csrfdesc')%>
                <div class="text-center d-flex justify-content-center w-25">
                    <div class="container" style="margin: 20px; border: 1px solid black; border-radius: 20px;">
                        <h6 class="lead"> <%= results.name %></h6>
                        <h6 class="lead">Stanje sigurnog računa: <%= results.account_balance %></h6>
                    </div>
                </div>
                <div class="container w-25 mb-5">
                    <h6 class="lead">Prijenos sredstava</h6>
                    <h6 class="lead"><%= message %></h6>
                    <form action="/safecsrf/transferfunds" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="form-group">
                            <label for="amount">Iznos:</label>
                            <input type="number" class="form-control" id="amount" name="amount" required>
                        </div>
                        <div class="form-group">
                            <label for="account">Odredišni račun:</label>
                            <input type="text" class="form-control" id="acc" name="acc" required>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
    </body>
</html>
                
